.custom-container {
    max-width: 100%;
    margin: 0 100px 0 100px;
    position: relative;
  }
  .parent {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
  }
  .image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    
  }
  .texts-in-image {
    position: absolute;
    left: 45%;
    bottom: 0%;
    transform: translateX(-50%);
    margin-bottom: 30px;
    font-family: 'Abril Fatface', cursive;
/*font-family: 'Josefin Sans', sans-serif;
font-family: 'Merriweather', serif; */
  }

.text1 { 
  font-size: 30px;
  
}
.text2 {
  font-size: 50px;  
}

.content-texts {
    max-width: 680px;
    margin: auto;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
 
  }

#anakin {
  height: 300px;
  box-shadow: 5px 5px 20px 10px grey;
}

.firstquote {
  position: relative;
  background: #444444;
  color: white;
  padding: 0;
  left: 50%;
  margin-top: 40px;
  margin: 40px 0 50px 0;
  font-size: 45px;
  display: flex;
  justify-content: center;
  font-family: 'Abril Fatface', cursive;
  max-width: 800px;
  box-shadow: 5px 5px 20px 5px grey;
  transform: translateX(-50%);
}

.firstquote::before {
  content: "\201C";
  font-size: 100px;
  position: relative;
  bottom: 15px;
  left:5px;
}


.content-text2 {
  font-family: 'Josefin Sans', sans-serif;
  max-width: 680px;
  margin: auto;
}
.content-text2 h1 {
  margin-bottom: 50px;
}

.content-text2 h2 {
  margin-bottom: 10px;
}

.content-text2 p {
  font-size: 15px;
}

.secondquote {
  position: relative;
  background: #444444;
  color: white;
  padding: 0;
  left: 50%;
  margin-top: 40px;
  margin: 40px 0 50px 0;
  font-size: 45px;
  display: flex;
  justify-content: center;
  font-family: 'Abril Fatface', cursive;
  max-width: 800px;
  box-shadow: 5px 5px 20px 5px grey;
  transform: translateX(-50%);
}

.secondquote::before {
  content: "\201C";
  font-size: 100px;
  position: relative;
  bottom: 15px;
  left:5px;
}

.content-text3 {
  max-width: 680px;
  margin: auto;
  font-family: 'Josefin Sans', sans-serif;
}

.thirdquote {
  position: relative;
  background: #444444;
  color: white;
  padding: 0;
  left: 50%;
  margin-top: 40px;
  margin: 40px 0 50px 0;
  font-size: 45px;
  display: flex;
  justify-content: center;
  font-family: 'Abril Fatface', cursive;
  max-width: 800px;
  box-shadow: 5px 5px 20px 5px grey;
  transform: translateX(-50%);
}

.thirdquote::before {
  content: "\201C";
  font-size: 100px;
  position: relative;
  bottom: 15px;
  left:5px;
}

.content-text4 {
  max-width: 680px;
  margin: auto;
  font-family: 'Josefin Sans', sans-serif;
}

.content-text3 h3 {
  font-style: italic;
}

.content-text4 h3 {
  font-style: italic;
}

.content-text3 h1 {
  margin-bottom: 50px;
}

.content-text3 h2 {
  margin-bottom: -20px;
}

.content-text3 p {
  font-size: 15px;
}

.content-text4 h1 {
  margin-bottom: 50px;
}

.content-text4 h2 {
  margin-bottom: -20px;
}

.content-text4 p {
  font-size: 15px;
}

.content-text5 {
  max-width: 680px;
  margin: auto;
  font-family: 'Josefin Sans', sans-serif;
  border-top: 5px solid black;
}

.content-text5 h1{
  margin-bottom: 50px;
}